
#heroSection {
    padding: 100px;
    background-image: url("../img/solar-wind-large.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: darkolivegreen;
}

#heroContainer {
    align: center;
}

.androidIcon {
    width: 100%;
    align-items: center;
    padding-top: 25px;
}
#heroContainer > h3 {
    margin-bottom: 25px;
}


#threeIconsSection {
    margin-top: 35px;
    margin-bottom: 45px;
}
#threeIconsSection h1 {
    margin-top: 15px;
    font-family: 'Just Another Hand', cursive;
    text-transform: uppercase;
}
#iconsInside {
    width: 100%;
    display: flex;
}
.input {
    margin-top: 5px;
    margin-bottom: 5px;
}
.myFont {
    font-family: 'Just Another Hand', cursive;
    font-size: 4em;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.insideEmailFields .myInput > input {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
}
.myButtonOfInput {
    margin-top: 25px;
    width: 350px;
}

.myIcon{
    color: green;
}

.myButton {
    border: 1px solid green;
    color: green;
}

.centeredEmailFields {
    display: block;
    margin: 0 auto;
    height: 300px;
}

.insideEmailFields {
    display: block;
}

#emailMeSection {
    padding: 50px;
    background-image: url("../img/connectwork.png");
    color: white;
    height: 555px;
}

.myMap {
    height: 400px;
}

.mySocialIcons {
    background-color: black;
    height: 100px;
    color: white;
    margin-top: 50px;
    font-size: 3em;
}

footer {
    height: 100px;
    background-color: black;
    color: white;
}

